Style HTML text properties

Apply styles to text appearance

Applying color to text

    h1{
        color: #00FF00;
    }
    h2 {
        color: green;
    }
    h3 {
        color: rgb(0,225,0);
    }

Applying BOLD to text

    p {
       font-weight: bold; 
    }

Apply styles to test font 

    p {
        font-family: Arial, 'Times New Roman', Webdings;
    }

Using Web Open Font Format 
    @font-face {
        font-family: "My Nicer Font";
        src: url('fonts/my_woff_font.eot');
        src: url('fonts/my_woff_font.woff');
    }
    
    p {
        font-family: 'MyNicer Font';
        font-size: x-large;
    }


Applying styles to text alignment, spacing, and indentation

Text alignment

    //Supported values for text-align
        right   - Aligns text to the right side of the parent container.
        left    - Aligns text to the left side of the parent container.
        center  - ligns text to the horizontal center of the parent container.
        justify - Stretches text horizontally to fill the full width of the parent container.


    p {
        text-align: center;
        text-indent: 50px;
    }

    p {
        letter-spacing: 8px;
        word-spacing: 8px;
    }


Applying styles to text hyphenation

    Values available fo the hyphen attiribute
        none    - Words will not break with a hyphen and the sentence will only break on whitespace
        Auto    - Words will break based on a predifined algorithm.
        Manual  - Words will break based on specified hint in the owrds indication an appropriate space for the break.
                  This is done using the &shy; notation within the text.
    
    div {
        hyphens: none;
    }
